<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/tailwind.css" />
    <meta name="theme-color" content="#1c1d1f" />
    <meta name="description" content="{{description}}" />
    <link rel="author" href="{{author.site}}" />
    <meta itemprop="name" content="{{title}}" />
    <meta itemprop="description" content="{{description}}" />
    <meta name="twitter:dnt" content="on" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="{{author.twitter}}" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
  </head>
  <body class="bg-white antialiased dark:bg-gray-900">
    {{{content}}}
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "${analytics.google}", {
        page_path: window.location.pathname,
      });
    </script>
    <script
      src="https://www.googletagmanager.com/gtag/js?id={{analytics.google}}"
      async
    ></script>
  </body>
</html>
