<article itemscope itemtype="http://schema.org/BlogPosting">
  <a
    href="{{this.url}}"
    class="group flex space-x-4 py-6 focus:outline-none"
    itemprop="url"
  >
    <div
      class="
        flex
        h-12
        w-12
        flex-shrink-0
        items-center
        justify-center
        rounded-2xl
        bg-gray-100
        text-gray-400
        group-hover:bg-sky-100 group-hover:text-sky-400
        dark:bg-gray-800
        dark:text-gray-500
        dark:hover:text-sky-500
        dark:group-hover:bg-sky-800
      "
    >
      {{{icon "file-text"}}}
    </div>
    <div>
      <h3
        class="
          font-medium
          text-gray-900
          group-hover:text-sky-900
          group-focus:underline
          dark:text-gray-200 dark:group-hover:text-sky-200
        "
        itemprop="headline"
      >
        {{data.title}}
      </h3>
      <time
        class="
          block
          text-gray-500
          group-hover:text-sky-500
          dark:text-gray-400 dark:group-hover:text-sky-400
        "
        datetime="{{iso date}}"
        itemprop="datePublished"
      >
        {{iso date}}
      </time>
    </div>
    <div
      class="hidden"
      itemprop="author"
      itemscope
      itemtype="http://schema.org/Person"
    >
      <meta itemprop="name" content="{{data.author.name}}" />
    </div>
  </a>
</article>
